[submodule "p5-ithumb-xs"]
	path = p5-ithumb-xs
	url = git@github.com:p3t3rbr0/p5-ithumb-xs.git
[submodule "p5-url-xs"]
	path = p5-url-xs
	url = git@github.com:p3t3rbr0/p5-url-xs.git
[submodule "p5-picohttpparser-xs"]
	path = p5-picohttpparser-xs
	url = git@github.com:p3t3rbr0/p5-picohttpparser-xs.git
[submodule "p5-mojo-base"]
	path = p5-mojo-base
	url = git@github.com:p3t3rbr0/p5-mojo-base.git
[submodule "s2-play-base"]
	path = s2-play-base
	url = git@github.com:p3t3rbr0/s2-play-base.git
[submodule "py3-django-base"]
	path = py3-django-base
	url = git@github.com:p3t3rbr0/py3-django-base.git
